
.info_map{
    position: relative;
        height: 500px;
        overflow: hidden;
    // background: linear-gradient(180deg, rgba(253, 253, 254, 0.04) 52.32%, rgba(253, 253, 254, 0.92) 71.04%, #FDFDFE 92.44%);
    h2{
        margin-top: 20px;
        margin-bottom: auto;
        text-align: left;
}
}

.z-show{
    position: relative;
    z-index: 3;
}

.bottom_info_text{
    display: flex;
}
.info-foot{
    margin-left: 140px;
}
.content_map{
    // margin: 0 auto;
    // position: absolute;
    width: 1200px;
    height: 720px;
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // padding: 5px 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
    // justify-content: space-between;
}
.info_map_wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
}
.bg{
    background: linear-gradient(180deg, rgba(253, 253, 254, 0.04) 52.32%, rgba(253, 253, 254, 0.92) 71.04%, #FDFDFE 92.44%);
}
.info_map_wrapper{
    // background:none;
}




.map_block{
    position: relative;
    z-index: 2;
}
.location{
    max-width: 585px;
}
.location_telf{
    color: #333333;
    font-size: 36px;
    font-weight: 700;
}
.location_telf:hover{
    color: #333333;
}
.location__inf{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}
.info-foot__text{
    color: #36ab32;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.info-foot__text:hover{
    color: #36ab32;
}
.info-foot p{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}
.location_adr{
color: #333333;
font-size: 24px;
font-weight: 400;
}


// ---------------


.foot_text{
    margin: 0;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
}
.content_link{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    a{
        color: #dadada;
        font-size: 8px;
        font-weight: 400;
    }

}
.content-footer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.info_map h2 {
    padding-top: 120px;
}





[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}


// -----------------------------


.main-image{
    max-width: 1200px;
    max-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    img{
        // max-width: 1200px;
        max-height: 600px;

    }
}

// -------------------
.main-text-content{
    padding: 0 60px;
    margin: 0 auto;
    max-width: 1200px;
    .content{
        margin-bottom: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}

// -----------------------------

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }

.title-name{
    max-width: 1200px;
    margin: 120px auto;
    width: 100%;
    h2{
        // font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 57px;

        color: #333333;
    }
}

.search-form{

    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 105px;
    width: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    label{
        color: #7A7A7A;
    }
    select{
        color: #36AB32;
        font-size: 18px;
        line-height: 21px;
        background-color: #fff;
    }

    option{
        color: #36AB32;
        font-size: 18px;
        line-height: 21px;
    }
    }
.articles{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.articl{
    margin-bottom: 30px;
}


.art_item:hover{
    a{
        display: flex;
    }
    &::after{
        background-color:rgba(51, 51, 51, 0.5);
    }
}

.art_item::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color:rgba(51, 51, 51, .0);
}

.main-images{
    margin-top: 80px;
}


.main-images{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}







// ------------------
.comments{
    border-top: 1px solid #36AB32;
    margin: 0 auto;
    max-width: 1200px;
}
.body-comment{
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}
.body-text{
    width: 100%; 
}
.img-user{
    margin-right: 30px;
    img{
        width: 175px;
        height: 175px;
        max-width: none;
        img{
            max-width: none; 
        }
    }
}
.info-panel{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.num-comments{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #333333;
}
.like-info{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}
.num-likes{
    margin-left: 10px;
}
.comment-info{
    .name{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        margin-bottom: 10px;
    }
    .data{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #707070;
    }
}
.btn-asker{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #36AB32;
text-align: right;
}
.up-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

// ------------------
.add-comment{
    display: flex;
    flex-direction: column;
}
.form-input{
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: center;
    input{
        width: 277px;
        height: 60px;
        border-bottom: 1px solid #36AB32;
        margin: 0 15px;
        padding: 20px;
        &::placeholder{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #7A7A7A;
        }
    }
}
.input-comment{
max-width: 585px;
height: 210px;
width: 100%;
padding: 20px;
// height: 100%;
padding: 0;
border: none;
margin: 0 auto;
border-bottom: 1px solid #36AB32;
&::-webkit-input-placeholder{
    color: #7A7A7A;
}
&::placeholder{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #7A7A7A;
padding: 20px;

}
}
.add-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 62px;
    text-align: center;
}
.form_add_comment{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #7A7A7A;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 46px;
    }
    button{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        width: 278px;
        height: 60px;
        background-color: #36AB32;
        margin: 0 auto;
        border: none;
        margin-bottom: 150px;
    }
}








@media screen and (max-width:1200px){
    .main-images{
        justify-content: space-around;
        .images-item{
            margin: 15px;
        }
    }
}















@media screen and (max-width:1180px){

    .search-form{
        margin-bottom: 40px;
    }
    .title-name{
        margin: 40px auto;
    }
    .art_item{
        width: 500px;
        height: 500px;
        margin: 15px;
    }
    .title-name{
        padding: 0 15px;
    }
    .search-form{
        padding: 0 15px;
    }
}



@media screen and (max-width:1065px){
    .art_item{
        width: 400px;
        height: 400px;
    }
}



@media screen and (max-width:900px){
    .comments{
        padding: 0 15px;
    }
    .main-text-content{
        padding: 0 15px;
    }
    .art_item{
        width: 345px;
        height: 345px;
    }
}

@media screen and (max-width:750px){

    .search-form{
        margin-bottom: 30px;
    }
    .title-name{
        margin: 30px auto;
    }
    .blog-articles{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}




@media screen and (max-width:750px){
    .main-image{
        padding: 0;
        max-height: 500px;
        margin-bottom: 30px;
    }
    .form_add_comment{
        padding: 0 15px;
        textarea{
            width: 100%;
        }
    }
    .title-name h2{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        
        color: #333333;
    }

    .img-user{
        width: 75px;
        height: 75px;
        margin-right: 10px;
        img{
            width: 75px;
            height: 75px;
        }
    }
    .form-input{
        display: flex;
        flex-direction: column;
        width: 100%;
        input{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}


.bottom_footer-cont{
    justify-content: flex-start;
}